@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  background: #ffffff;
  color: #111827;
  font-family: Arial, Helvetica, sans-serif;
}

.overflow-y-auto {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.overflow-y-auto::-webkit-scrollbar {
  display: none;
}
